.editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
}
.sql-input {
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
}
.editor-div {
    position: relative;
    width: 100%;
    height: 400px;
}
.delete-button:link {
    display: none;
    text-decoration: none;
}
.logitem:hover .delete-button {
    display: initial;/*当鼠标hover时展示*/
    color: red;
}

.cancel-button {
    display: none;
    text-decoration: none;
}
summary:hover .cancel-button {
    display: initial;
    color: red;
}
.hidden-a:link {
    display: none;
    text-decoration: none;
}
.hidden-a-toggle:hover .hidden-a {
    display: initial;/*当鼠标hover时展示*/
}

.delete-checkbox-log {
    display: none;
}

.delete-selected {
    position: absolute;
    top: 0;
    right: 0;
}
