.query {
    margin-top: 10px;
    margin-bottom: 10px;
}
.chart-display {
    width: 100%;
    height: 400px;
}
.query-label {
    background-color: pink;
}
.table-container {
    overflow: scroll;
    width: 100%;
    height: 350px;
    background-color: #eee;
}

.eventbox {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px;
    border-style: solid;
}
.eventbox-with-arrow {
    display: inline-block;
}
.add-chart-btn,
.cancel-button {
    margin-left: 20px;
    border: none;
    background-color: #bbb;
}
