.query {
    margin-top: 10px;
    margin-bottom: 10px;
}
.chart-display {
    width: 100%;
    height: 400px;
}
.query-label {
    text-align: center;
    background-color: pink;
}
.table-container {
    overflow: scroll;
    width: 100%;
    height: 350px;
    background-color: #eee;
}

.eventbox {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px;
    border-style: solid;
}
.eventbox-with-arrow {
    display: inline-block;
}
.add-chart-btn,
.cancel-button {
    margin-left: 20px;
    border: none;
    background-color: #bbb;
}
.remove-button {
    position: absolute;
    top: -10px;
    right: -4px;
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    text-decoration: none;
    color: red;
    background: transparent;
    cursor: pointer;
}

#echo {
    overflow: hidden;
    width: 40em;
    height: 16em;
    font-size: 10px;
    color: white;
    background: black;
    resize: none;
}
#echo-container {
    position: fixed;
    top: 0;
    right: 0;
}
